.osq-navbar.ant-layout-header{

  position: sticky;
  top:0;

  z-index:9999;

  height: var(--nav-h) !important;
  padding:0 !important;

  background:transparent !important;
  border:none !important;
  box-shadow:none !important;

  display:flex;
  align-items:stretch;

}